.tituloPrincipal{
    background: linear-gradient(to left,  #A7FF83, #7D7AFF, #0A84FF, rgb(131, 250, 92), #0A84FF, #7D7AFF, #A7FF83 );
    height: 100px;
}

.footerPrincipal{
    background: linear-gradient(to left,  #A7FF83, #7D7AFF, #0A84FF, rgb(131, 250, 92), #0A84FF, #7D7AFF, #A7FF83);
    height: 100%;
}


body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(225, 225, 225, 0.7 );
    z-index: -1;
}

body{
    background-color: white;
    position: relative;
}

body.dark-mode{
    background-color: #121212;
    color: white;
}