html,body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#footer-placeholder{
    color: white;
    margin-top: auto;
}

.margenesConsola{
    margin: 5px;
    width: 14rem;
}

.contenedorConsolas{
    display: flex;
    flex-wrap: wrap;
}

.contedorVideoJuegos{
    display: flex;
    flex-wrap: wrap;
}